html, body {
    height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#calculator {
    margin: 0 auto;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 1px;
    padding: 50px
}

#history {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#input_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_button_container {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    font-size: 16pt
}

.input_button_container > input {
    height: 50px;
}

#control_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control_button {
    height: 50px;
    width: 50px;
    margin: 10px;
}
